* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
}
html {
  min-height: 100%;
  position: relative;
  background-color: #1f1f1f;
  color: white;
}
.lateralBar {
  height: 50px;
  color: white;
  background-color: #4526a0;
}
.footer {
  background-color: #4526a0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
.flex-container {
  display: flex;
  align-items: center;
}
.centrar {
  margin: 0 auto !important;
  margin: 0 auto !important;
}
.content {
  width: 80%;
  padding-top: 20px;
}
