* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
}
html {
  min-height: 100%;
  position: relative;
  background-color: #1f1f1f;
  color: white;
}
.lateralBar {
  height: 50px;
  color: white;
  background-color: #4526a0;
}
.footer {
  background-color: #4526a0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
.flex-container {
  display: flex;
  align-items: center;
}
.centrar {
  margin: 0 auto !important;
}
.content {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
button:hover,
i:hover {
  cursor: pointer;
  opacity: 0.9;
}
button:active,
i:active {
  cursor: pointer;
  opacity: 0.5;
}
a {
  text-decoration: none;
}
select,
#buscadorSeleccion {
  width: 100%;
  background-color: #5c6bc0;
  border-color: #5c6bc0;
  border-radius: 3px;
  padding: 5px;
  color: white;
}

#buscadorSeleccion {
  width: 50%;
  margin-left: 25%;
}
#buscadorSeleccion::placeholder {
  color: white;
}

.d-flex {
  display: flex;
}
div .select-container {
  margin-left: 20px !important;
}

.col-6 {
  width: 50%;
  margin: 0 auto !important;
}
@media (max-width: 621px) {
  #buscadorSeleccion {
    width: 98%;
    margin-left: 0;
  }
  .col-6 {
    display: block !important;
    width: 80%;
    margin: 0 auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .flex-container {
    display: block !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto !important;
    height: auto;
  }

  select {
    width: 100% !important;
  }
  modal {
    width: 100% !important;
  }
}
